<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.uac.system.mapper.RoleMenuLinkMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.uac.system.model.po.RoleMenuLink">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="menuId" column="menu_id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,menu_id,
        create_by,create_by_id,create_time,
        update_by,update_by_id,update_time,
        status,is_deleted,app_id
    </sql>
    
    <select id="listMenuListByRoleId" resultType="cn.youngkbt.uac.system.model.po.SysMenu">
        select
            tsm.*, case when trml.menu_id is null then 0 else 1 end as selected
        from
            t_sys_menu tsm left join (
                select * from t_role_menu_link where is_deleted = 0 and role_id = #{roleId} and app_id = #{appId}
            ) trml on tsm.menu_id = trml.menu_id
        where tsm.app_id = #{appId} and tsm.is_deleted = 0;
    </select>
</mapper>
