<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.uac.system.mapper.RoleDeptLinkMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.uac.system.model.po.RoleDeptLink">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,dept_id,
        create_by,create_by_id,create_time,
        update_by,update_by_id,update_time,
        status,is_deleted,app_id
    </sql>
    
    <select id="listDeptListByRoleId" resultType="cn.youngkbt.uac.system.model.po.SysDept">
        select
            tsd.*, case when trdl.dept_id is null then 0 else 1 end as selected
        from
            t_sys_dept tsd left join (
                select * from t_role_dept_link where is_deleted = 0 and role_id = #{roleId} and app_id = #{appId}
            ) trdl on tsd.dept_id = trdl.dept_id
        where tsd.is_deleted = 0;
    </select>
</mapper>
