<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.uac.system.mapper.SysDictDataMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.uac.system.model.po.SysDictData">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dictLabel" column="dict_label" jdbcType="VARCHAR"/>
            <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
            <result property="dictSort" column="dict_sort" jdbcType="INTEGER"/>
            <result property="isDefault" column="is_default" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
            <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dict_label,dict_value,
        dict_sort,css_class,list_class,
        is_default,parent_dict_code,parent_code_value,
        create_by,create_by_id,create_time,
        update_by,update_by_id,update_time,
        status,is_deleted,tenant_id,
        app_id,dict_code
    </sql>
    
    <select id="checkExitDictData" resultType="cn.youngkbt.uac.system.model.po.SysDictType">
        select tsdt.id, tsdt.dict_name
        from t_sys_dict_type tsdt
        join t_sys_dict_data tsdd on tsdt.dict_code = tsdd.dict_code and tsdd.is_deleted = 0
        ${ew.getCustomSqlSegment}
    </select>
</mapper>
