<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.uac.system.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.uac.system.model.po.SysMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="menuId" column="menu_id" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="menuCode" column="menu_code" jdbcType="VARCHAR"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="permission" column="permission" jdbcType="INTEGER"/>
            <result property="menuType" column="menu_type" jdbcType="INTEGER"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="meta" column="meta" jdbcType="VARCHAR" javaType="cn.youngkbt.uac.system.model.vo.router.Meta" typeHandler="cn.youngkbt.uac.system.config.MetaTypeHandler"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,menu_id,parent_id,
        menu_code,meun_name,path,
        param,icon,order_num,
        component,visible,is_cache,
        is_frame,meta,intro,
        create_by,create_by_id,create_time,
        update_by,update_by_id,update_time,
        status,is_deleted,app_id
    </sql>
    
    <select id="listMenuListByUserId" resultMap="BaseResultMap">
        SELECT DISTINCT tsm.*
        FROM t_sys_menu tsm
        JOIN t_role_menu_link trml ON tsm.menu_id = trml.menu_id AND trml.is_deleted = 0 AND trml.status = 1
        JOIN (
            -- 查询用户和角色关联的角色 ID
            SELECT turl.role_id FROM t_user_role_link turl
            JOIN t_sys_role tsr ON turl.role_id = tsr.role_id AND tsr.is_deleted = 0 AND tsr.status = 1
            WHERE turl.is_deleted = 0 AND turl.status = 1 AND turl.user_id = #{userId}
            UNION
            -- 查询用户所在用户组关联角色的角色 ID
            SELECT tugrl.role_id FROM t_user_group_role_link tugrl
            JOIN t_user_group_link tugl ON tugrl.user_group_id = tugl.user_group_id AND tugrl.is_deleted = 0 AND tugrl.status = 1 AND tugl.is_deleted = 0 AND tugl.status = 1
            JOIN t_sys_role tsr ON tugrl.role_id = tsr.role_id AND tsr.is_deleted = 0 AND tsr.status = 1
            JOIN t_sys_user_group tsug ON tugl.user_group_id = tsug.group_id AND tsug.is_deleted = 0 AND tsug.status = 1
            WHERE tugl.user_id = #{userId}
            UNION
            -- 查询用户所在部门关联角色的角色 ID
            SELECT trdl.role_id FROM t_role_dept_link trdl
            JOIN t_sys_role tsr ON trdl.role_id = tsr.role_id AND trdl.is_deleted = 0 AND trdl.status = 1 AND tsr.is_deleted = 0 AND tsr.status = 1
            WHERE EXISTS (SELECT 1 FROM t_sys_user tsu WHERE trdl.dept_id = tsu.dept_id AND tsu.is_deleted = 0 AND tsu.status = 1
            AND tsu.user_id = #{userId})
        ) AS all_roles ON trml.role_id = all_roles.role_id
        WHERE tsm.is_deleted = 0 AND tsm.status = 1
        <if test="onlyGetMenu">
            AND tsm.menu_type IN ('M', 'C')
        </if>
        AND tsm.app_id = #{appId};
    </select>
    
</mapper>
