<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.uac.system.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.uac.system.model.po.SysRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,role_code,
        role_name,intro,order_num,
        create_by,create_by_id,create_time,
        update_by,update_by_id,update_time,
        status,is_deleted,tenant_id,
        app_id
    </sql>
    
    <select id="selectRoleListByUserId" resultType="cn.youngkbt.uac.system.model.po.SysRole">
        -- 查询用户和角色关联的角色信息
        SELECT tsr.*
        FROM t_sys_role tsr
                 JOIN t_user_role_link turl
                      ON turl.role_id = tsr.role_id AND turl.is_deleted = 0 AND turl.status = 1 AND
                         turl.user_id = #{userId}
        WHERE tsr.is_deleted = 0
          AND tsr.status = 1
        UNION
        -- 查询用户所在用户组关联角色的角色信息
        SELECT tsr.*
        FROM t_sys_role tsr
                 JOIN t_user_group_role_link tugrl ON tugrl.role_id = tsr.role_id
                 JOIN t_user_group_link tugl
                      ON tugrl.user_group_id = tugl.user_group_id AND tugrl.is_deleted = 0 AND tugrl.status = 1 AND
                         tugl.is_deleted = 0 AND tugl.status = 1
                 JOIN t_sys_user_group tsug
                      ON tugl.user_group_id = tsug.group_id AND tsug.is_deleted = 0 AND tsug.status = 1
        WHERE tsr.is_deleted = 0
          AND tsr.status = 1
          and tugl.user_id = #{userId}
        UNION
        -- 查询用户所在部门关联角色的角色信息
        SELECT tsr.*
        FROM t_sys_role tsr
                 JOIN t_role_dept_link trdl
                      ON trdl.role_id = tsr.role_id AND trdl.is_deleted = 0 AND trdl.status = 1
        WHERE tsr.is_deleted = 0
          AND tsr.status = 1
          AND EXISTS (SELECT 1
                      FROM t_sys_user tsu
                      WHERE trdl.dept_id = tsu.dept_id
                        AND tsu.is_deleted = 0
                        AND tsu.status = 1
                        AND tsu.user_id = #{userId})
    </select>

</mapper>
