<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.uac.sys.mapper.SysUserGroupMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.uac.sys.model.po.SysUserGroup">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="groupId" column="group_id" jdbcType="VARCHAR"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_id,group_name,
        intro,create_by,create_by_id,
        create_time,update_by,update_by_id,
        update_time,status,is_deleted,
        tenant_id
    </sql>
    
    <select id="selectByUserId" resultType="cn.youngkbt.uac.sys.model.vo.link.UserGroupLinkVO">
        select tsug.group_id, tsug.group_name, tsug.app_id, tugl.id as link_id, tugl.valid_from, tugl.expire_on, tugl.create_time
        from t_sys_user_group tsug
        left join t_user_group_link tugl on tsug.group_id = tugl.user_group_id and tugl.is_deleted = 0
        ${ew.getCustomSqlSegment}
    </select>
    
    <select id="selectWithDisabledByUserId" resultType="cn.youngkbt.uac.sys.model.vo.link.UserGroupBindSelectVO">
        select tsug.group_id, tsug.group_name, tsug.app_id, case when tugl.user_id is not null then 1 else 0 end as disabled
        from t_sys_user_group tsug
        left join t_user_group_link tugl on tsug.group_id = tugl.user_group_id and tugl.user_id = #{userId} and tugl.is_deleted = 0
        where tsug.app_id = #{appId} and tsug.is_deleted = 0
    </select>
</mapper>
