<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.uac.sys.mapper.UserGroupLinkMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.uac.sys.model.po.UserGroupLink">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userGroupId" column="user_group_uid" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_group_uid,
        create_by,create_by_id,create_time,
        update_by,update_by_id,update_time,
        status,is_deleted,tenant_id
    </sql>
    
    <select id="listUserLinkByGroupId" resultType="cn.youngkbt.uac.sys.model.vo.link.UserLinkInfoVO">
        select tsu.user_id, tsu.username, tsu.nickname, tugl.id as link_id, tugl.valid_from, tugl.expire_on, tugl.create_time, tugl.app_id
        from t_user_group_link tugl
        left join t_sys_user tsu on tsu.user_id = tugl.user_id and tsu.is_deleted = 0
        where tugl.is_deleted = 0 and tugl.user_group_id = #{userGroupId}
    </select>
    
</mapper>
