<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.ag.system.mapper.ReportMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.ag.system.model.po.Report">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="reportId" column="report_id" jdbcType="VARCHAR"/>
            <result property="reportTitle" column="report_title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="allowAdd" column="allow_add" jdbcType="TINYINT"/>
            <result property="allowEdit" column="allow_edit" jdbcType="TINYINT"/>
            <result property="allowRemove" column="allow_remove" jdbcType="TINYINT"/>
            <result property="allowFilter" column="allow_filter" jdbcType="TINYINT"/>
            <result property="allowExport" column="allow_export" jdbcType="TINYINT"/>
            <result property="allowRow" column="allow_row" jdbcType="TINYINT"/>
            <result property="dialogWidth" column="dialog_width" jdbcType="VARCHAR"/>
            <result property="pageSize" column="page_size" jdbcType="INTEGER"/>
            <result property="chartType" column="chart_type" jdbcType="TINYINT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="serviceId" column="service_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,report_id,report_title,
        description,allow_add,allow_edit,
        allow_remove,allow_filter,allow_export,
        allow_row,dialog_width,page_size,
        chart_type,create_by,create_by_id,
        create_time,update_by,update_by_id,
        update_time,status,is_deleted,
        service_id
    </sql>
</mapper>
