<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.ag.system.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.ag.system.model.po.Team">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="teamId" column="team_id" jdbcType="VARCHAR"/>
            <result property="teamName" column="team_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="ownerName" column="owner_name" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,team_id,team_name,
        description,owner_name,create_by,
        create_by_id,create_time,update_by,
        update_by_id,update_time,status,
        is_deleted
    </sql>
    
    <select id="listMyAllTeam" resultType="cn.youngkbt.ag.system.model.vo.TeamRouteVO">
        select tt.id, tt.team_id, tt.team_name, ttm.team_role, ttm.belong_type 
        from t_team tt join t_team_member ttm on tt.team_id = ttm.team_id and ttm.is_deleted = 0
            and ttm.user_id = #{userId}
        where tt.status = 1 and tt.is_deleted = 0 order by tt.create_time
    </select>
</mapper>
