<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.integrate.system.mapper.ExceptionLogMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.integrate.system.model.po.ExceptionLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="configId" column="config_id" jdbcType="BIGINT"/>
            <result property="exceptionInfo" column="exception_info" jdbcType="VARCHAR"/>
            <result property="exceptionUrl" column="exception_url" jdbcType="VARCHAR"/>
            <result property="returnInfo" column="return_info" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,config_id,exception_info,
        exception_url,return_info,create_time,
        update_time
    </sql>
</mapper>
