<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.notice.system.mapper.NoticeInfoMapper">

    <resultMap id="BaseResultMap" type="cn.youngkbt.notice.system.model.po.NoticeInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="noticeId" column="notice_id" jdbcType="VARCHAR"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
            <result property="messageType" column="message_type" jdbcType="VARCHAR"/>
            <result property="from" column="from" jdbcType="VARCHAR"/>
            <result property="to" column="to" jdbcType="VARCHAR"/>
            <result property="cc" column="cc" jdbcType="VARCHAR"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="priority" column="priority" jdbcType="INTEGER"/>
            <result property="fromAme" column="from_ame" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="smsTemplateId" column="sms_template_id" jdbcType="VARCHAR"/>
            <result property="smsMessageId" column="sms_message_id" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="retry" column="retry" jdbcType="VARCHAR"/>
            <result property="retryCount" column="retry_count" jdbcType="INTEGER"/>
            <result property="fileIds" column="file_ids" jdbcType="VARCHAR"/>
            <result property="bizId" column="biz_id" jdbcType="VARCHAR"/>
            <result property="operateType" column="operate_type" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,notice_id,app_id,
        message_type,from,to,
        cc,subject,content,
        priority,from_ame,category,
        sms_template_id,sms_message_id,status,
        retry,retry_count,file_ids,
        biz_id,operate_type,create_time,
        update_time
    </sql>
</mapper>
